<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tuberlin.uebb.emodelica.editors.ModelicaEditor"
            default="false"
            filenames="*.mo"
            icon="icons/modelica_file_obj.png"
            id="de.tuberlin.uebb.emodelica.editors.ModelicaEditor"
            name="Modelica Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="de.tuberlin.uebb.emodelica.editors.DocumentSetupParticipant"
            extensions="mo">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="emodelica"
            name="Modelica">
      </category>
      <view
            category="emodelica"
            class="de.tuberlin.uebb.emodelica.views.statistics.StatisticView"
            icon="icons/sample.gif"
            id="de.tuberlin.uebb.emodelica.views.StatisticView"
            name="Statistic View">
      </view>
      <view
            allowMultiple="true"
            class="de.tuberlin.uebb.emodelica.views.PlotterView"
            icon="icons/emodelica.png"
            id="de.tuberlin.uebb.emodelica.views.graphView"
            name="Plotter"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.tuberlin.uebb.emodelica.model.ModelTreeContentProvider"
            id="de.tuberlin.uebb.emodelica.navigatorContent"
            labelProvider="de.tuberlin.uebb.emodelica.model.ModelLabelProvider"
            name="eModelica Navigator content">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="mo">
                  </test>
               </and>
               <instanceof
                     value="de.tuberlin.uebb.emodelica.model.dom.DOMNode">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="de.tuberlin.uebb.emodelica.model.dom.DOMNode">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="de.tuberlin.uebb.emodelica.model.project.impl.MosilabProjectContentProvider"
            id="de.tuberlin.uebb.emodelica.projectContent"
            labelProvider="de.tuberlin.uebb.emodelica.model.project.impl.MosilabProjectLabelProvider"
            name="eModelica Project content"
            priority="high"
            providesSaveables="false">
         <possibleChildren>
            <or>
               <instanceof
                     value="de.tuberlin.uebb.emodelica.model.project.IModelicaResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or></possibleChildren>
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="de.tuberlin.uebb.emodelica.nature.mosilab">
                  </test>
               </adapt>
               <instanceof
                     value="de.tuberlin.uebb.emodelica.model.project.IModelicaResource">
               </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="de.tuberlin.uebb.emodelica.ui.navigator.ActionProvider"
               id="de.tuberlin.uebb.emodelica.actions.StandardActions"
               overrides="org.eclipse.ui.navigator.resources.actions.EditActions">
            <enablement>
            </enablement>
         </actionProvider>
         <commonWizard
               menuGroupId="emodelica"
               type="new"
               wizardId="de.tuberlin.uebb.emodelica.wizards.newprojectwizard">
            <enablement></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="emodelica"
               type="new"
               wizardId="de.tuberlin.uebb.emodelica.wizards.newelementwizard">
            <enablement></enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="emodelica"
               type="new"
               wizardId="de.tuberlin.uebb.emodelica.wizards.newepackagewizard">
            <enablement></enablement>
         </commonWizard>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="de.tuberlin.uebb.emodelica.model.project.impl.DoubleEntryFilter"
            description="This filter hides all Modelica elements that appear in packages and folders "
            id="de.tuberlin.uebb.emodelica.filters.doubleEntryFilter"
            name="Double entry filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="de.tuberlin.uebb.emodelica.navigatorContent">
            </contentExtension>
            <contentExtension
                  isRoot="false"
                  pattern="de.tuberlin.uebb.emodelica.projectContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="de.tuberlin.uebb.emodelica.nature.mosilab"
         name="MOSILAB project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tuberlin.uebb.emodelica.model.project.impl.MosilabNature">
         </run>
      </runtime>
      <builder
            id="de.tuberlin.uebb.emodelica.mosilacBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/mod_ovr.png"
            id="de.tuberlin.uebb.emodelica.projectImage"
            natureId="de.tuberlin.uebb.emodelica.nature.mosilab">
      </image>
   </extension>
   <extension
         id="de.tuberlin.uebb.emodelica.wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tuberlin.uebb.emodelica.category.mosilab"
            name="MOSILAB">
      </category>
      <wizard
            category="de.tuberlin.uebb.emodelica.category.mosilab"
            class="de.tuberlin.uebb.emodelica.ui.wizards.NewProjectWizard"
            finalPerspective="de.tuberlin.uebb.emodelica.modelicaPerspective"
            hasPages="true"
            icon="icons/newmodproj.gif"
            id="de.tuberlin.uebb.emodelica.wizards.newprojectwizard"
            name="MOSILAB project"
            project="true">
      </wizard>
      <wizard
            category="de.tuberlin.uebb.emodelica.category.mosilab"
            class="de.tuberlin.uebb.emodelica.ui.wizards.NewModelicaFragmentWizard"
            hasPages="true"
            icon="icons/emodelica_new.png"
            id="de.tuberlin.uebb.emodelica.wizards.newelementwizard"
            name="Modelica element"
            project="false">
      </wizard>
      <wizard
            category="de.tuberlin.uebb.emodelica.category.mosilab"
            class="de.tuberlin.uebb.emodelica.ui.wizards.NewPackageWizard"
            hasPages="true"
            icon="icons/newmodpack.gif"
            id="de.tuberlin.uebb.emodelica.wizards.newepackagewizard"
            name="Modelica package"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tuberlin.uebb.emodelica.preferences.MOSILABPreferencePage"
            id="de.tuberlin.uebb.emodelica.preferences.MOSILABPreferencePage"
            name="MOSILAB">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tuberlin.uebb.emodelica.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="TODO: add description"
            id="de.tuberlin.uebb.emodelica.actions.actionSet1"
            label="Modelica actions"
            visible="false">
         <action
               class="de.tuberlin.uebb.emodelica.actions.NewModelicaElementActionDelegate"
               icon="icons/emodelica_new.png"
               id="de.tuberlin.uebb.emodelica.actions.newElementAction"
               label="create a new Modelica element"
               pulldown="true"
               style="pulldown"
               toolbarPath="Normal/eModelica"
               tooltip="create a new Modelica element">
         </action>
         <action
               class="de.tuberlin.uebb.emodelica.actions.NewProjectActionDelegate"
               icon="icons/newmodproj.gif"
               id="de.tuberlin.uebb.emodelica.actions.newProjectAction"
               label="Create a new MOSILAB project"
               style="push"
               toolbarPath="Normal/eModelica">
         </action>
         <action
               class="de.tuberlin.uebb.emodelica.actions.NewPackageActionDelegate"
               icon="icons/newmodpack.gif"
               id="de.tuberlin.uebb.emodelica.actions.newPackageAction"
               label="Create a new Modelica package"
               style="push"
               toolbarPath="Normal/eModelica">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.tuberlin.uebb.emodelica.ui.properties.MosilabProjectPage"
            id="de.tuberlin.uebb.emodelica.properties.mosilabProjectPage"
            name="MOSILAB properties"
            objectClass="org.eclipse.core.resources.IProject">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="de.tuberlin.uebb.emodelica.nature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="de.tuberlin.uebb.emodelica.model.project.IMosilabSource"
            class="de.tuberlin.uebb.emodelica.util.ModelicaAdapterFactory">
         <adapter
               type="emodelica.Adapter1">
         </adapter>
      </factory>
   </extension>
   <extension
         id="de.tuberlin.uebb.emodelica.mosilacBuilder"
         name="MOSILAB Builder (mosilac)"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="de.tuberlin.uebb.emodelica.builder.MosilabBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.tuberlin.uebb.emodelica.launch.MosilabLaunchDelegate"
            delegateDescription="Runs an experiment"
            delegateName="Experiment runner"
            id="de.tuberlin.uebb.emodelica.launchConfiguration.MOSILABLaunchConfiguration"
            modes="run"
            name="MOSILAB experiment"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="de.tuberlin.uebb.emodelica.launchConfiguration.MOSILABLaunchConfiguration"
            icon="icons/emodelica.png"
            id="de.tuberlin.uebb.emodelica.launchConfiguration.MOSILABLaunchConfiguration.Image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.tuberlin.uebb.emodelica.launch.LaunchShortcut"
            description="Starts the experiment"
            icon="icons/emodelica.png"
            id="de.tuberlin.uebb.emodelica.launchConfiguration.MOSILABLaunchConfiguration.shortcut"
            label="experiment"
            modes="run">
         <contextualLaunch>
            <contextLabel
                  label="Run the experiment"
                  mode="de.tuberlin.uebb.emodelica.launch.contextLabel">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IFile">
                           </instanceof>
                           <test
                                 property="org.eclipse.debug.ui.matchesPattern"
                                 value="*.mo">
                           </test>
                        </and>
                        <and>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="de.tuberlin.uebb.emodelica.nature.mosilab">
                           </test>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.tuberlin.uebb.emodelica.launch.MosilabLaunchConfigurationTabGroup"
            description="Run a MOSILAB experiment"
            id="de.tuberlin.uebb.emodelica.launchConfiguration.MOSILABLaunchConfiguration.TabGroup1"
            type="de.tuberlin.uebb.emodelica.launchConfiguration.MOSILABLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.tuberlin.uebb.emodelica.ui.ModelicaPerspectiveFactory"
            icon="icons/emodelica.png"
            id="de.tuberlin.uebb.emodelica.modelicaPerspective"
            name="Modelica Perspective">
      </perspective>
   </extension>
</plugin>
